<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/QuickBank/src/assets/Favicon.ico">
        <title>Profile</title>
        
        <!-- Alternative styles -->
        <link rel="stylesheet" href="/QuickBank/src/css/light_theme.css" id="main-style" title="Light Mode">
        <link rel='alternate stylesheet' href='/QuickBank/src/css/dark_theme.css' title="Dark Mode" disabled>
        
        <!-- Main style first -->
        <link rel="stylesheet" href="/QuickBank/src/css/main.css">
        <!-- Personal style -->
        <link rel='stylesheet' href='/QuickBank/src/css/accounts.css'>

        <!-- Custom Google font import for navbar -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap" rel="stylesheet">
        <!-- Custom navBar -->
        <script src="/QuickBank/src/components/nav_bar.js"></script>

        <!-- Checks if user is logged in, if not, redirects to Index -->
        <script>if (!sessionStorage.getItem('customer.id')) window.location.replace("/QuickBank");</script>

        <!-- Custom Google icon import for password component -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Custom password input -->
        <script src="../components/custom_password.js"></script>

        <!-- Footer -->
        <script src="/QuickBank/src/components/footer.js"></script>
    </head>
    <body>
        <nav-bar></nav-bar>
        <main id="mainWrapper">
            <div role="table" aria-label="Sortable employee directory" aria-rowcount="5" aria-colcount="3" id="accountsTable">
                <div role="rowgroup" id="tableHeader">
                    <div class="row" role="row">
                        <div role="columnheader">
                            <button aria-label="Sort by id.">
                            Id <!-- sortIcon -->
                            </button>
                        </div>
                        <div role="columnheader">
                            <button aria-label="Sort by type.">
                            Type <!-- sortIcon -->
                            </button>
                        </div>
                        <div role="columnheader">
                            <button aria-label="Sort by description.">
                            Description <!-- sortIcon -->
                            </button>
                        </div>
                        <div role="columnheader">
                            <button aria-label="Sort by balance.">
                            Balance <!-- sortIcon -->
                            </button>
                        </div>
                        <div role="columnheader">
                            <button aria-label="Sort by credit line.">
                            Credit line <!-- sortIcon -->
                            </button>
                        </div>
                        <div role="columnheader">
                            <button aria-label="Sort by begin balance.">
                            Begin Balance <!-- sortIcon -->
                            </button>
                        </div>
                        <div role="columnheader">
                            <button aria-label="Sort by begin balance timestamp.">
                            Begin balance timestamp <!-- sortIcon -->
                            </button>
                        </div>
                    </div>
                </div>
                <div role="rowgroup" id="tableBody">
                    
                </div>
            </div>
        </main>
        <main-footer></main-footer>    
    </body>
    <!-- Main accounts Javascript file -->
    <script type="module" src="/QuickBank/src/util/accounts.js"></script>
</html>