<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/QuickBank/src/assets/Favicon.ico">
    <title>Change Password</title>

    <!-- Alternative styles -->
    <link rel="stylesheet" href="/QuickBank/src/css/light_theme.css" id="main-style" title="Light Mode">
    <link rel='alternate stylesheet' href='/QuickBank/src/css/dark_theme.css' title="Dark Mode">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/change_password.css">
    <!-- Custom Google font import for custom_password -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="module" src="../components/custom_password.js"></script>

    <!-- Custom Google font import for navbar -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap" rel="stylesheet">
    <script type="module" src="../components/nav_bar.js"></script>

    <!-- Footer -->
    <script type="module" src="/QuickBank/src/components/footer.js"></script>
    <script>
        if (!sessionStorage.getItem('customer.email')) window.location.replace("/QuickBank");
    </script>
    <style>
    </style>

</head>

<body>
    <nav-bar></nav-bar>
    <main class="contenedor">
        <div class="leftSide"></div>
        <div class="rightSide">
            <h1>Change Password</h1>
            <form id="form" action="/CRUDBankServerSide/webresources/customer/">
                <label for="actualPassword">Current password:</label>
                <custom-password id="custom">
                    <input id="actualPassword" name="actualPassword" type="password" autofocus placeholder="Actual password" />
                </custom-password>
                <label for="newPassword">New password:</label>
                <custom-password id="custom">
                    <input id="newPassword" name="newPassword" type="password" placeholder="New password"/>
                </custom-password>
                <label for="confirmPassword">Confirm password:</label>
                <custom-password id="custom">
                    <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm new password"/>
                </custom-password>
                <input type="submit" id="button" value="Change password">
            </form>
            <div id="responseMsg"></div>
        </div>
    </main>
    <main-footer></main-footer>
</body>
<script type="module">
    import changePassword from "../util/change_password.js";
    const msgBox = document.getElementById("responseMsg");
    document.getElementById("form").addEventListener("submit", handleChangePasswordOnClick);

    async function handleChangePasswordOnClick(event) {
        event.preventDefault();
        event.stopPropagation();
        // obtenemos los elementos del form
        const actualPassword = document.getElementById("actualPassword");
        const newPassword = document.getElementById("newPassword");
        const confirmPassword = document.getElementById("confirmPassword");

        try {
            // valida si estan vacios: 
            if (actualPassword.value.trim() === "" || newPassword.value.trim() === "" || confirmPassword.value.trim() === "")
                throw new Error("Any input must be filled.");

            // Verifica si la contraseña coincide con la del sessionStorage
            const storedPassword = sessionStorage.getItem("customer.password");
            if (actualPassword.value.trim() !== storedPassword) {
                throw new Error("The current password is incorrect.");
            }

            // Valida si la nueva contraseña es igual a la actual.
            if (newPassword.value.trim() === actualPassword.value.trim())
                throw new Error("The new password cannot be the same as the current password.");

            // Valida si la Nueva contraseña cumple con requisitos: 
            const passwordRegExp =
                new RegExp(/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{5,20}$/);
            if (!passwordRegExp.test(newPassword.value.trim()))
                throw new Error("New password has not a valid format. Please try again");

            // Valida si la nueva contraseña coincide con el campo de confirmacion de contraseña.
            if (newPassword.value.trim() !== confirmPassword.value.trim())
                throw new Error("Your password and new password do not match.");

            // llamar a la funcion para llamar a los datos
            sendRequestAndProcessResponse(newPassword, msgBox)
                .then(res => {
                    if (res.ok) {
                        msgBox.className = 'success';
                        msgBox.textContent = "Password successfully changed.";
                        // Guarda la nueva contraseña si el servidor responde correctamente 
                        sessionStorage.setItem("customer.password", newPassword.value.trim());
                        window.location.replace("./sign_in.html");

                    } else {
                        msgBox.className = 'error';
                        msgBox.textContent = "Error: failed to update password (HTTP " + res.status + ")";
                    }
                    msgBox.style.display = 'block';
                })
                .catch(err => {
                    msgBox.className = 'error';
                    msgBox.textContent = "Server error: " + err;
                    msgBox.style.display = 'block';
                });

        } catch (error) {
            //Show error messages in red styled div
            msgBox.className = 'error';
            msgBox.textContent = 'Error: ' + error.message;
            msgBox.style.display = 'block';
        }
    }
</script>
</html>