<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/QuickBank/src/assets/Favicon.ico">
    <title>Customer</title>
    
    <!-- Alternative styles -->
    <link rel="stylesheet" href="/QuickBank/src/css/light_theme.css" id="main-style" title="Light Mode">
    <link rel='alternate stylesheet' href='/QuickBank/src/css/dark_theme.css' title="Dark Mode" disabled>
    
    <!-- Main style first -->
    <link rel="stylesheet" href="/QuickBank/src/css/main.css">

    <!-- Personal style -->
    <link rel='stylesheet' href='/QuickBank/src/css/customer.css'>

    <!-- Custom Google font import for navbar -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap" rel="stylesheet">
    <!-- Custom navBar -->
    <script src="/QuickBank/src/components/nav_bar.js"></script>
    <!--TODO Mover el siguiente código JS a un script externo-->
    <!-- Checks if user is logged in, if not, redirects to Index -->
    <script>if (!sessionStorage.getItem('customer.id')) window.location.replace("/QuickBank");</script>

    <!-- Custom Google icon import for password component -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom password input -->
    <script src="../components/custom_password.js"></script>

    <!-- Footer -->
    <script src="/QuickBank/src/components/footer.js"></script>
    
    <script src="/QuickBank/src/assets/h5p/h5p-player/main.bundle.js"></script>
</head>
<body>
    <nav-bar></nav-bar>
        <main id="mainWrapper">
        <div id="alertContainer"></div> <!-- AÑADIDO: Contenedor para alertas arriba centradas -->
        <div id="contentWrapper">
            <div role="table" aria-label="Navigatable Customers Table" id="customersTable">
                <div role="rowgroup" aria-label="Table header" id="tableHeader">
                    <div class="row" role="row" aria-label="Table Header Row">
                        <div role="columnheader" aria-label="Id">Id</div>
                        <div role="columnheader" aria-label="First Name">First Name</div>
                        <div role="columnheader" aria-label="Last Name">Last Name</div>
                        <div role="columnheader" aria-label="Middle Initial">Middle Initial</div>
                        <div role="columnheader" aria-label="Street">Street</div>
                        <div role="columnheader" aria-label="City">City</div>
                        <div role="columnheader" aria-label="State">State</div>
                        <div role="columnheader" aria-label="Zip">Zip</div>
                        <div role="columnheader" aria-label="Phone">Phone</div>
                        <div role="columnheader" aria-label="Email">Email</div>
                        <div role="columnheader" aria-label="Password">Password</div>
                        <div role="columnheader" aria-label="Actions">Actions</div>
                    </div>
                </div>
                <div role="rowgroup" id="tableBody" aria-label="Table body"></div>
            </div>
            
            <!-- Formulario Crear / Editar -->
            <section id="forSection" aria-label="Customer form">
                <form id="form">
                <h3 id="formTitle">Crear usuario</h3>
                
                    <input name="firstName" placeholder="First name" required aria-label="First Name">
                    <input name="lastName" placeholder="Last name" required aria-label="Last Name">
                    <input name="middleInitial" placeholder="Middle Initial" maxlength="1" aria-label="Middle Initial">
                    <input name="street" placeholder="Street" required aria-label="Street">
                    <input name="city" placeholder="City" required aria-label="City">
                    <input name="state" placeholder="State" required aria-label="State">
                    <input name="zip" placeholder="Zip" required aria-label="Zip">
                    <input name="phone" placeholder="Phone" required aria-label="Phone">
                    <input name="email" type="email" placeholder="Email" required aria-label="Email">
                    <div class="form-buttons">
                        <button type="submit" class="confirmButton" aria-label="Save">Save</button>
                        <button type="button" id="btnCancel" class="cancelButton" aria-label="Cancel">Cancel</button>
                    </div>
                </form>
            </section>
        </div>
            <div id="secondContainer">
                <!-- Boton de ayuda -->
                <button id="helpButton">Help</button>
                <div id="h5p-container" class="h5p-container"></div>
            </div>
    </main>
    <main-footer></main-footer>
    <script type="module" src="/QuickBank/src/util/customer.js"></script>
</body>
</html>
