<!DOCTYPE html>
<html>
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="icon" type="image/x-icon" href="/QuickBank/src/assets/Favicon.ico">
       <title>Customer</title>
      
       <!-- Alternative styles -->
       <link rel="stylesheet" href="/QuickBank/src/css/light_theme.css" id="main-style" title="Light Mode">
       <link rel='alternate stylesheet' href='/QuickBank/src/css/dark_theme.css' title="Dark Mode" disabled>
       
       <!-- Main style first -->
       <link rel="stylesheet" href="/QuickBank/src/css/main.css">
       <!-- Personal style -->
       <link rel='stylesheet' href='/QuickBank/src/css/profile.css'>
       <link rel='stylesheet' href='/QuickBank/src/css/customer.css'>

       <!-- Custom Google font import for navbar -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap" rel="stylesheet">
       <!-- Custom navBar -->
       <script src="/QuickBank/src/components/nav_bar.js"></script>


       <!-- Checks if user is logged in, if not, redirects to Index
       <script>if (!sessionStorage.getItem('customer.id')) window.location.replace("/QuickBank");</script>-->


       <!-- Custom Google icon import for password component -->
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!-- Custom password input -->
       <script src="../components/custom_password.js"></script>


       <!-- Footer -->
       <script src="/QuickBank/src/components/footer.js"></script>
           
       <script>
       sessionStorage.setItem("customer.id", "102263301");
       sessionStorage.setItem("customer.email", "jsmith@enterprise.net");
   </script>
  
   </head>
   <body>
       <nav-bar></nav-bar>
       <main id="mainWrapper">
           <div id="leftDiv">
               <h1 id="leftDivTitle">Customer</h1>
               <div id="informationWrapper">
                   <h3>Personal information</h3>
                   <div id="personalInformationWrapper">
                   <table id="accountsTable">
                       <thead>
                           <tr>
                               <th>ID</th>
                               <th>First</th>
                               <th>Last</th>
                               <th>Init</th>
                               <th>Street</th>
                               <th>City</th>
                               <th>State</th>
                               <th>Zip</th>
                               <th>Phone</th>
                               <th>Email</th>
                               <th>Password</th>
                           </tr>
                       </thead>
                       <tbody id="usersTabletbody"></tbody>
                   </table>
               </div>
                   <br>
                   <div id="securityWrapper">
                       <button id="btnCreate">Crear</button>
                       <button id="btnEdit">Editar</button>
                       <button id="btnDelete">Eliminar</button>
              
                   </div>
               </div>
           </div>


       <div id="rightDiv">


           <section id="formSection" style="display:none;">
              
               <h3 id="formTitle">Crear usuario</h3>


               <form id="userForm">
                   <input name="firstName" placeholder="First name" required>
                   <input name="lastName" placeholder="Last name" required>
                   <input name="middleInitial" placeholder="Middle initial" maxlength="1">


                   <input name="street" placeholder="Street" required>
                   <input name="city" placeholder="City" required>
                   <input name="state" placeholder="State" required>
                   <input name="zip" placeholder="Zip" required>
                   <input name="phone" placeholder="Phone" required>


                   <input name="email" type="email" placeholder="Email" required>


                   <button type="submit">Guardar</button>
                   <button type="button" id="btnCancel">Cancelar</button>
               </form>
              
           </section>
        </div>
          
       </main>
       <main-footer></main-footer>
<script type="module" src="../util/customer.js"></script>

</body>
</html>
