<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/QuickBank/src/assets/Favicon.ico">
        <title>Movements</title>
        
        <!-- Alternative styles -->
        <link rel="stylesheet" href="/QuickBank/src/css/light_theme.css" id="main-style" title="Light Mode">
        <link rel='alternate stylesheet' href='/QuickBank/src/css/dark_theme.css' title="Dark Mode" disabled>
        
        <!-- Main style first -->
        <link rel="stylesheet" href="/QuickBank/src/css/main.css">
        <!-- Personal style -->
        <link rel='stylesheet' href='/QuickBank/src/css/profile.css'>
        <link rel='stylesheet' href='/QuickBank/src/css/movements.css'>

        <!-- Custom Google font import for navbar -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap" rel="stylesheet">
        <!-- Custom navBar -->
        <script src="/QuickBank/src/components/nav_bar.js"></script>

        <script>if (!sessionStorage.getItem('customer.id')) window.location.replace("/QuickBank");</script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="../components/custom_password.js"></script>
        <script src="/QuickBank/src/components/footer.js"></script>   
    </head>
<body>
    <nav-bar></nav-bar>
    <main id="mainWrapper">
        <div id="leftDiv">
            <h1 id="leftDivTitle">Transactions</h1>
            <div id="informationWrapper">
                <h3>Balance: <span id="balanceDisplay">0.00 €</span></h3>
                
                <div class="tableContainer">
                    <table id="movementsTable">
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Balance</th>
                                <th>Action</th>
                            </tr>
                            <tr class="input-row">
                                <td>(Auto)</td>
                                <td>
                                    <select id="newDescription">
                                        <option value="Deposit">Deposit</option>
                                        <option value="Withdraw">Withdraw</option>
                                    </select>
                                </td>
                                <td><input type="number" id="newAmount" placeholder="0.00" step="0.01"></td>
                                <td>---</td>
                                <td><button id="btnConfirmMovement">Confirm</button></td>
                            </tr>
                        </thead>
                        <tbody>
                            </tbody>
                    </table>
                </div>
                <hr>
                <div id="securitySection">
                    <h3>Security:</h3>
                    <div class="button-row">
                        <a href="/QuickBank/src/views/profile.html" class="btn-red">Profile</a>
                        <a href="/QuickBank/src/views/accounts.html" class="btn-red">Accounts</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main-footer></main-footer>
</body>
<script type="module">
    import { renderMovements, setupInlineListeners } from '../util/movements.js';
    document.addEventListener("DOMContentLoaded", () => {
        renderMovements();
        setupInlineListeners();
    });
</script>
</html>