<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/QuickBank/src/assets/Favicon.ico">
    <title>Movements - QuickBank</title>

    <link rel="stylesheet" href="/QuickBank/src/css/light_theme.css" id="main-style" title="Light Mode">
    <link rel='alternate stylesheet' href='/QuickBank/src/css/dark_theme.css' title="Dark Mode" disabled>

    <link rel="stylesheet" href="/QuickBank/src/css/main.css">
    <link rel='stylesheet' href='/QuickBank/src/css/movements.css'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap" rel="stylesheet">
    <script src="/QuickBank/src/components/nav_bar.js"></script>
    <!--TODO: Mover este código JS a un script extarno y ejecutarlo en el evento del DOM apropiado-->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
    <script src="/QuickBank/src/util/model.js"></script>
    <script src="/QuickBank/src/assets/h5p/h5p-player/main.bundle.js"></script>
    <script src="/QuickBank/src/assets/h5p/h5p-player/h5p-standalone.min.js"></script>

    <script type="module" src="/QuickBank/src/util/movements.js"></script>
    <script src="/QuickBank/src/components/footer.js"></script>
</head>
<!--TODO: Introducir sendos elementos para mostrar el valor agregado del total de los ingresos y de los gastos. -->

<body>
    <nav-bar></nav-bar>
    <main id="mainWrapper">
        <section id="leftDiv" aria-label="Movements History">
            <div id="principal">
                <div id="informationAccount" role="region" aria-live="polite" aria-label="Account Summary">
                    <div>Type: <span id="typeAccount"></span></div>
                    <div>Balance: <span id="balance"></span></div>
                    <div id="creditContainer">Credit Line: <span id="creditLine"></span></div>
                    <div id="balanceContainer">Available Balance: <span id="balanceTotal"></span></div>
                </div>


                <div id="funcionesAgregadas">
                    <div>Total Deposits: <span id="totalDeposits"> </span></div> 
                    <div>Total Payments: <span id="totalPayments"> </span></div> 
                </div>

                <div class="tableContainer">
                    <table id="movementsTable" aria-label="Movements history">
                        <thead>
                            <tr class="rowheader">
                                <th scope="col">Timestamp</th>
                                <th scope="col">Description</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Balance</th>
                                <th scope="col">Action</th>
                            </tr>
                            <tr class="input-row">
                                <td>Auto</td>
                                <td>
                                    <select id="newDescription" aria-label="Select movement type">
                                        <option value="Deposit">Deposit</option>
                                        <option value="Payment">Payment</option>
                                    </select>
                                </td>
                                <td>
                                    <input id="newAmount" placeholder="0.00" step="0.01" required
                                        aria-label="Enter movement amount">
                                </td>
                                <td><span aria-hidden="true">---</span></td>
                                <td>
                                    <button id="btnConfirmMovement" class="btn-confirm" aria-label="Confirm transaction">
                                        <span class="material-icons" aria-hidden="true">check</span>
                                    </button>
                                </td>
                            </tr>
                        </thead>
                        <tbody id="tableBody"> </tbody>
                    </table>
                </div>
                <div class="container-actions">
                    <button id="helpButton" aria-haspopup="dialog" aria-controls="h5p-container">Help</button>
                    <div id="h5p-container" class="h5p-container" role="dialog" aria-modal="true" aria-label="Help Video Player" aria-hidden="true"></div>
                    <button id="btnDeleteLastMovement" class="btn-delete">
                        <span class="material-icons" aria-hidden="true">delete</span>
                        Delete last movement
                    </button>
                </div>
            </div>
        </section>
    </main>
    <main-footer></main-footer>
</body>

</html>