<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/QuickBank/src/assets/Favicon.ico">
        <title>Profile</title>
        
        <!-- Alternative styles -->
        <link rel="stylesheet" href="/QuickBank/src/css/light_theme.css" id="main-style" title="Light Mode">
        <link rel='alternate stylesheet' href='/QuickBank/src/css/dark_theme.css' title="Dark Mode" disabled>
        
        <!-- Main style first -->
        <link rel="stylesheet" href="/QuickBank/src/css/main.css">
        <!-- Personal style -->
        <link rel='stylesheet' href='/QuickBank/src/css/profile.css'>

        <!-- Custom Google font import for navbar -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap" rel="stylesheet">
        <!-- Custom navBar -->
        <script src="/QuickBank/src/components/nav_bar.js"></script>

        <!-- Checks if user is logged in, if not, redirects to Index -->
        <script>if (!sessionStorage.getItem('customer.id')) window.location.replace("/QuickBank");</script>

        <!-- Custom Google icon import for password component -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Custom password input -->
        <script src="../components/custom_password.js"></script>

        <!-- Footer -->
        <script src="/QuickBank/src/components/footer.js"></script>

    </head>
    <body>
        <nav-bar></nav-bar>
        <main id="mainWrapper">
            <div id="leftDiv">
                <h1 id="leftDivTitle">Profile</h1>
                <div id="informationWrapper">
                    <h2>Personal information</h2>
                    <div id="personalInformationWrapper">
                        <div class="infoContainer">
                            <label for="firstName">Name</label>
                            <input type="text" id="firstName" name="firstName" disabled>
                        </div>
                        <div class="infoContainer">
                            <label for="middleInitial">Middle Initial</label>
                            <input type="text" id="middleInitial" name="middleInitial" disabled>
                        </div>
                        <div class="infoContainer">
                            <label for="lastName">Last Name</label>
                            <input type="text" id="lastName" name="lastName" disabled>
                        </div>
                        <div class="infoContainer">
                            <label for="password">Password</label>
                            <custom-password>
                                <input type="password" id="password" name="password" placeholder="******" disabled>
                            </custom-password>
                        </div>
                    </div>
                    <hr>
                    <h2>Contact and Address</h2>
                    <div id="contactAndAddressWrapper">
                        <div class="infoContainer">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" disabled>
                        </div>
                        <div class="infoContainer">
                            <label for="phone">Phone</label>
                            <input type="text" id="phone" name="phone" disabled>
                        </div>
                        <div class="infoContainer">
                            <label for="zip">Zip</label>
                            <input type="text" id="zip" name="zip" disabled>
                        </div>
                        <div class="infoContainer">
                            <label for="city">City</label>
                            <input type="text" id="city" name="city" disabled>
                        </div>
                    </div>
                    <hr>
                    <div id="securityWrapper">
                        <h2>Security: </h2>
                        <a id="changePasswordButton" href="/QuickBank/src/views/change_password.html">Change password</a>
                    </div>
                </div>
            </div>
            <div id="rightDiv">
                <a href="/QuickBank/src/views/accounts.html" id="accountsAnchor">Accounts</a>
                <div role="table" aria-label="Navigatable Accounts Table" id="accountsTable">
                    <div role="rowgroup" aria-label="Table header" id="tableHeader">
                        <div class="row" role="row" aria-label="Table Header Row">
                            <div role="columnheader" aria-label="Type">
                                Type
                            </div>
                            <div role="columnheader" aria-label="Description">
                                Description
                            </div>
                            <div role="columnheader" aria-label="Balance">
                                Balance
                            </div>
                            <div role="columnheader" aria-label="Credit line">
                                Credit line
                            </div>
                        </div>
                    </div>
                    <div role="rowgroup" id="tableBody" aria-label="Table body"></div>
            </div>
            </div>
        </main>
        <main-footer></main-footer>    
    </body>
    <script type="module" src="../util/profile.js"></script>
    </html>