<!DOCTYPE html>
<html>
<head>
    <title>Sign in</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sign_in.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="Welcome">
        <h1>WELCOME</h1>
    </div>
    
    <div class="Sign">
        <h1>Sign in</h1>
    </div>

    <div class="login-container">
    <!--     <form action="http://localhost:46413/CRUDBankServerSide/webresources/customer/sigin/" id="signInForm">--> 
        <form action="http://localhost:8080/CRUDBankServerSide/webresources/customer/sigin/" id="signInForm">
              
            <label for="email">Email</label>
            <input type="email" id="tfEmail">

            <label for="password">Password</label>
            <input type="password" id="tfPassword">

            <button type="button" id="btSignIn" onclick="validarSignIn(event);">Sign In</button>
            
            <a href="./sign_up.html">Create una cuenta</a>
        </form>
        <div id="responseMsg"></div>
    </div>
    <script src="../util/sign_in.js"></script>

</body>
</html>

