<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/QuickBank/src/assets/Favicon.ico">
        <title>Sign up</title>
        
        <!-- Alternative styles -->
        <link rel="stylesheet" href="/QuickBank/src/css/light_theme.css" id="main-style" title="Light Mode">
        <link rel='alternate stylesheet' href='/QuickBank/src/css/dark_theme.css' title="Dark Mode" disabled>
        
        <!-- Main style first -->
        <link rel="stylesheet" href="../css/main.css">
        <!-- Personal style -->
        <link rel="stylesheet" href="../css/sign_up.css">
        
        <!-- Custom Google material icon import for custom password input -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="../components/custom_password.js"></script>

        <!-- Custom Google font import for navbar -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap" rel="stylesheet">
        <script src="../components/nav_bar.js"></script>

        <!-- Footer -->
        <script src="/QuickBank/src/components/footer.js"></script>   
        
        <!-- Sign up main Javascript file -->
        <script src="/QuickBank/src/util/sign_up.js"></script>   

        <script>
        if (sessionStorage.getItem('customer.id'))
            window.location.replace("/QuickBank/src/views/profile.html");
        </script>
    </head>
    <body>
        <nav-bar></nav-bar>
        <main>
            <div id="leftDiv"></div>
            <div id="rightDiv">
                <h1>Sign Up</h1>
                <form id="form">
                    <div>
                        <label for="firstName">First name:</label>
                        <input type="text" name="firstName" id="firstName" placeholder="Your first name..." autofocus>
                    </div>
                    <div>
                        <label for="middleInitial">Middle initial:</label>
                        <input type="text" name="middleInitial" id="middleInitial" placeholder="Your middle initial...">
                    </div>
                    <div>
                        <label for="lastName">Last name:</label>
                        <input type="text" name="lastName" id="lastName" placeholder="Your last name...">
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" placeholder="Your email...">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <custom-password>
                            <input type="password" name="password" id="password" placeholder="Your password..." >
                        </custom-password>
                    </div>
                    <div>
                        <label for="phone">Phone:</label>
                        <input type="text" name="phone" id="phone" placeholder="Your phone number...">
                    </div>
                    <div>
                        <label for="street">Street:</label>
                        <input type="text" name="street" id="street" placeholder="The name of your street...">
                    </div>
                    <div>
                        <label for="city">City:</label>
                        <input type="text" name="city" id="city" placeholder="The name of your city...">
                    </div>
                    <div>
                        <label for="state">State:</label>
                        <input type="text" name="state" id="state" placeholder="Your state (ex: Madrid)...">
                    </div> 
                    <div>
                        <label for="zip">Zip:</label>
                        <input type="text" name="zip" id="zip" placeholder="Your zip code...">
                    </div>
                    <input id="button" type="submit" value="Sign up">
                    <a href="./sign_in.html">Already have an account?</a>
                </form>
            </div>
        </main>
     <main-footer/>
    </body>
</html>