<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/Favicon.ico">

    <title>Sign in</title>

    
        <!-- Alternative styles -->
        <link rel="stylesheet" href="/QuickBank/src/css/light_theme.css" id="main-style" title="Light Mode">
        <link rel='alternate stylesheet' href='/QuickBank/src/css/dark_theme.css' title="Dark Mode">

        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/sign_in.css">
        
        <!-- Importación de iconos personalizados de Google Material para la contraseñas  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="module" src="../components/custom_password.js"></script>

        <!-- Importación de fuentes personalizadas de Google para la barra de navegación -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap" rel="stylesheet">
        <script type="module" src="../components/nav_bar.js"></script>

        <!-- Footer -->
        <script type= "module" src="/QuickBank/src/components/footer.js"></script>  
         
        <script> if(sessionStorage.getItem("customer.id")){
             window.location.replace("/QuickBank/src/views/change_password.html");}     
         </script>
</head>
<body>

    <nav-bar></nav-bar>
    <main>
        <div class="welcome">
        </div>

        <div class="login-container" >
            <h1>Sign in</h1>
        
            <form  id="form" action="/CRUDBankServerSide/webresources/customer/sigin/">
            
                <label for="Email">Email</label>
                <input type="email" id="Email" placeholder="Email" autoFocus>

                <label for="Password">Password</label>
                <custom-password>
                <input type="password" id="Password" placeholder="Password" >
                </custom-password>       
            
                <input id="button"  type="submit" value="Sign In">
            
             <a href="./sign_up.html">Create an Account</a>
            </form>

            <div id="responseMsg"></div>

        </div> 
    </main>   
   <main-footer></main-footer>

</body>
        <script type="module">
            import sign_in from "../util/sign_in.js";

                
            const msgBox = document.getElementById("responseMsg");
            const Email = document.getElementById("Email");
            const Password = document.getElementById("Password");
        
            //Rellena automaticamente el input email si existe una correo guardado
            const storedEmail = sessionStorage.getItem("customer.email");
            if(storedEmail){
                Email.autofocus = false;
                Password.autofocus = true;
                Email.value = storedEmail;
            }

            document.getElementById("form").addEventListener("submit", validarSignIn);

            function validarSignIn(event) {
                event.preventDefault();
                event.stopPropagation();

                try{
                    // Validar que email y password no esten vacios
                    if (Email.value.trim() === "" || Password.value.trim() === "")
                        throw new Error("Email and password input must be filled.");
                    
                     // Expresión regular para validar el email
                    const emailRegExp = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,255}$/;
                    if (!emailRegExp.test(Email.value.trim())) {
                    throw new Error("Email has not a valid format.");
                    }
                        
                    // Validar longitud del email y password
                    if (Email.value.length > 255)
                        throw new Error("Email cannot have more than 255 characters");
                                
                    if (Password.value.length > 20)
                        throw new Error("Password cannot have more than 20 characters");

                    // Llama a la función para enviar datos y procesar respuesta
                    sign_in(Email, Password, form, msgBox) 

                    .then(response => {
                        if (response.status === 401) {
                        throw new Error('The username and/or password are incorrect.');
                        } else if (response.status === 500) {
                        throw new Error('Server error. Please try again later.');
                        } else if (!response.ok) {
                        throw new Error('Unexpected error.');
                        }
                        return response.json(); // si todo va bien, convertimos la respuesta
                    })                    
                    .then(data => {
                    // Guardamos los datos en el sessionStorage
                        sessionStorage.setItem("customer.id", data.id);
                        sessionStorage.setItem("customer.firstName", data.firstName);
                        sessionStorage.setItem("customer.lastName", data.lastName);
                        sessionStorage.setItem("customer.middleInitial", data.middleInitial);
                        sessionStorage.setItem("customer.email", data.email);
                        sessionStorage.setItem("customer.phone", data.phone);
                        sessionStorage.setItem("customer.street", data.street);
                        sessionStorage.setItem("customer.city", data.city);
                        sessionStorage.setItem("customer.state", data.state);
                        sessionStorage.setItem("customer.zip", data.zip);
                        sessionStorage.setItem("customer.password", data.password);

                        window.location.replace("/QuickBank/src/views/profile.html");

                    })
                    .catch(error => {
                        // Mostrar mensaje de error
                        msgBox.className = 'error';
                        msgBox.textContent = 'Error: ' + error.message;
                        msgBox.style.display = 'block';
                    });
                } catch (error) {
                    msgBox.className = "error";
                    msgBox.textContent = "Error: " + error.message;
                    msgBox.style.display = "block";
                }
            }
            
        </script>
    
</html>
