* {
    box-sizing: border-box;
}

input {
    text-align: center;
}

#mainWrapper {
    padding: 2% 3% 1% 3%;
    margin: 40px;
    background-color: rgb(79, 145, 250);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#accountsTable {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    gap: 0;
    background-color: #ddd;
}

.row > div {
    background-color: var(--primary-background);
    padding: 12px 8px;
    border: 1px solid #9d9d9d;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    overflow: hidden;
}

#tableHeader {
    height: min-content;
}

#tableBody {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

/* Header specific styling */
#tableHeader .row > div {
    background-color: var(--primary-background);
    color: var(--primary-text-color);
    font-weight: bold;
}

#addAccountForm div {
    background-color: var(--secondary-background);
}

#addAccountForm input {
    background-color: var(--third-background) !important;
}

/* Table body specific styling */
#tableBody .row > div p, #tableBody .row > div input, #tableBody .row > div a {
    background-color: inherit;
    color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    transition: none;
    text-decoration: underline;
}

#tableBody .row div:hover,#tableBody .row div:focus{
    background-color: var(--primary-btn-hover);
}

.actionsContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.editButtons, .deleteButtons, .createButton, .cancelButton, .confirmButton {
    color: var(--primary-btn-color);
    background-color: var(--primary-btn-background);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
}