
body {
    height: 100vh; 
    display: flex;

}

.contenedor{
   display: flex;
    width: 100%;
    height: 100vh;
}

.leftSide {
    flex: 1;
    background-image: url("/QuickBank/src/assets/Crypto\ login\ background.jpg");
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;


}

.rightSide {
    flex: 1;
    display: flex;
      flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
     font-size: 47px;
     margin-bottom: 50px;
     text-align: center;
}
#form {
    display: flex;
    flex-direction: column; 
}



label {
    text-align: left;  
    
}


#button {
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 6px;
    border: none;
    align-self: center;
    font-size: 20px;
    margin: 8px 0px 0px 0px;
    padding: 6px 1px;
    cursor: pointer;
}

#button:hover {
    color: var(--primary-btn-hover);
}

a {
    color: black;
}


