
main{
display: grid;
width: 100%;
height: calc(100vh - 75px);
grid-template-columns: 1fr 1fr ;
}

.leftSide {
    background-image: url("/QuickBank/src/assets/Crypto\ login\ background.jpg");
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
}

.rightSide {
    padding: 50px 200px;
    width: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h1 {
font-size: 47px;
margin-bottom: 50px;
text-align: center;
}

#form {
    display: flex;
    flex-direction: column; 
    
}


label {
text-align: left; 
}

#button {
width: 100%;
color: white;
background-color: black;
border-radius: 6px;
border: none;
align-self: center;
font-size: 20px;
margin: 8px 0px 0px 0px;
padding: 6px 1px;
cursor: pointer;
}

#button:hover {
color: var(--primary-btn-hover);
}


a {
color: black;
}


@media screen and (max-width: 900px){ 
    main {
       display: flex; 
    }

    .leftSide {
        display: none;
    }   

    .contenedor {
        display: flex;
    }
    

}