:root {
    --primary-color: black;
    --primary-background: white;
    
    --primary-btn-color: white;
    --primary-btn-background: black;
    --primary-btn-hover: rgb(210, 210, 210);

    --primary-login-background: green;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

#form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(255, 255, 255, .55);
    border: rgba(255, 255, 255, 0.65) solid 0.2px;
    border-radius: 8px;
    gap: 10px;
}

input {
    min-height: 20px;
    border-radius: 6px;
    border: none;
    padding: 3px 5px;
    font-size: 1em;
}

#input_error {
    border: 2px solid red;
}

label {
    padding: 0px 0px 0px 2px;
    font-size: 1em;
}

#button {
    width: 100%;
    color: var(--primary-btn-color);
    background-color: var(--primary-btn-background);
    border-radius: 6px;
    border: none;
    align-self: center;
    font-size: 20px;
    padding: 6px 1px;
}

#button:hover {
    cursor: pointer;
}

a {
    border: none;
    width: min-content;
    white-space: nowrap;
    padding: 8px 6px;
    border-radius: 10px;
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

#responseMsg {
              margin-top: 1em;
              padding: 0.5em;
              display: none;
            }

#responseMsg.success {
              color: green;
              background-color: #e0ffe0;
              border: 1px solid green;
            }

#responseMsg.error {
              color: red;
              background-color: #ffe0e0;
              border: 1px solid red;
            }