body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

#form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(255, 255, 255, .55);
    border: rgba(255, 255, 255, 0.65) solid 0.2px;
    border-radius: 8px;
    gap: 10px;
}

input {
    min-height: 20px;
    border-radius: 6px;
    border: none;
    padding: 3px 5px;
    font-size: 1em;
}

#input_error {
    border: 2px solid red;
}

label {
    padding: 0px 0px 0px 2px;
    font-size: 1em;
}

#button {
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 6px;
    border: none;
    align-self: center;
    font-size: 20px;
    padding: 6px 1px;
}

#button:hover {
    cursor: pointer;
}

a {
    border: none;
    width: min-content;
    white-space: nowrap;
    padding: 8px 6px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}