.tableContainer {
    border-radius: 10px;
    border-color: aqua;
    border: 10px;
}

#movementsTable {
    width: 100% !important;
    display: table;
    margin: 0;
    
}

.rowheader {
    display: table-row;
    color: white;
    background-color: #6c7ae0;
}

