* {
    min-width: 0px;
    box-sizing: border-box;
}

body h1 h2 h3 h4 {
    margin: 0px 0px 0px 0px !important;
}

#mainWrapper {
    background-color: var(--primary-background);
    min-height: 100vh;
    line-height: 1.5; 
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}


#leftDiv {
    border-radius: 30px;
    background-color: var(--secondary-background);
    display: grid;
    padding: 40px;
    grid-template-rows: min-content 9fr;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 1px 10px grey;
}

#informationWrapper {
    width: 100%;
}

#informationWrapper h3, hr {
    margin-left: 20px;
}

.infoContainer {
    background-color: var(--third-background);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    height: max-content;
    display: flex;
    flex-direction: column;
}

#leftDiv input {
    background: none;
    border: none;
    border-radius: 0px;
}

#personalInformationWrapper,
#contactAndAddressWrapper {
    display: grid;
    overflow: scroll;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#securityWrapper {
    display: flex;
    margin: 10px 0px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#changePasswordButton {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    color: var(--primary-btn-color);
    background-color: var(--primary-btn-background);
    height: min-content;
}

#rightDiv {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: flex-start;
    border-radius: 30px;
    box-shadow: 0px 1px 10px grey;
    overflow-y: auto;
}

#accountsAnchor {
    font-size: 2rem;
    font-weight: 400;
    text-decoration: underline;
}

#accountsAnchor:hover {
    text-decoration: none;
}

#accountsTable {
    width: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Table body specific styling */
#tableBody .row > div p,
#tableBody .row > div input,
#tableBody .row > div a {
    background-color: inherit;
    color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableBody .row div:hover,
#tableBody .row div:focus {
    background-color: var(--primary-btn-hover);
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 0;
    background-color: #ddd;
}

.row > div {
    background-color: var(--accounts-background);
    padding: 12px 8px;
    border: 1px solid rgba(155, 155, 155, 0.4);
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    overflow: hidden;
}

#tableHeader, #tableHeader .row {
    height: min-content;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-transform: uppercase;
}

#tableBody {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: inherit;
}

.row {
    background-color: inherit;
}

/* Header specific styling */
#tableHeader .row > div {
    color: var(--accounts-header-color);
    background: var(--accounts-header-background);
    font-weight: 600;
}

/*  Rounding borders  */
#tableHeader .row > div:first-child {
    border-top-left-radius: 30px;
}
#tableHeader .row > div:last-child {
    border-top-right-radius: 30px;
}
#tableBody .row:last-child > div:first-child {
    border-bottom-left-radius: 30px;
}
#tableBody .row:last-child > div:last-child {
    border-bottom-right-radius: 30px;
}

/* Table body specific styling */
#tableBody .row > div p {
    background-color: inherit;
    color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
font-weight: bold;
text-transform: uppercase;
letter-spacing: 1px;
}

#tableBody .row div:hover, #tableBody .row div:focus {
    background-color: var(--primary-btn-hover);
}

.balance::after,
.beginBalance::after,
.creditLine::after {
    content: "€";
    margin-left: 3px;
    font-weight: 300;
}

.totalBalance::after {
    content: "€";
    margin-left: 3px;
    font-weight: bold;
}

@media screen and (max-width: 1100px) {
    #mainWrapper {
        padding: 20px;
        gap: 80px;
        display: flex;
        flex-direction: column;
    }
    #personalInformationWrapper, #contactAndAddressWrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .row {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-bottom: 15px;
    }
    #tableBody .row {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 2px dashed grey;
    }
    #tableHeader {
        display: none;
    }

    /* Removing borders on mobile version */
    #tableBody .row:last-child > div:first-child {
        border-bottom-left-radius: 0px;
    }
    #tableBody .row:last-child > div:last-child {
        border-bottom-right-radius: 0px;
    }

    .row > div {
        display:flex;
        flex-direction: column;
        gap: 2px;
    }

    .row > div > p {
        min-height: 20px;
    }
}