* {
    box-sizing: border-box;
}

body h1 h2 h3 h4 {
    margin: 0px 0px 0px 0px !important;
}

#mainWrapper {
    background-color: var(--primary-background);
    min-height: 100vh;
    line-height: 1.5; 
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

#leftDiv {
    border-radius: 30px;
    background-color: var(--secondary-background);
    display: grid;
    padding: 40px;
    grid-template-rows: 1fr 9fr;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 1px 10px grey;
}

#informationWrapper {
    width: 100%;
}

#informationWrapper h3, hr {
    margin-left: 20px;
}

.infoContainer {
    background-color: var(--third-background);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    height: max-content;
    display: flex;
    flex-direction: column;
}

#leftDiv input {
    background: none;
    border: none;
    border-radius: 0px;
}

#personalInformationWrapper, #contactAndAddressWrapper {
    display: grid;
    overflow: scroll;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

#securityWrapper {
    display: flex;
    margin: 10px 0px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#changePasswordButton {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    color: var(--primary-btn-color);
    background-color: var(--primary-btn-background);
    height: min-content;
}

#rightDiv {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: flex-start;
    border-radius: 30px;
    box-shadow: 0px 1px 10px grey;
    overflow-y: auto;
}

#total {
    font-size: 1.2rem;
}

#accountsAnchor {
    font-size: 2rem;
    font-weight: 400;
    text-decoration: underline;
}

#accountsAnchor:hover {
    text-decoration: none;
}

#accountsTable {
    width: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 0;
    background-color: #ddd;
}

.row > div {
    background-color: var(--primary-background);
    padding: 12px 8px;
    border: 1px solid #9d9d9d;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    overflow: hidden;
}

#tableHeader {
    height: min-content;
}

#tableBody {
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

/* Header specific styling */
#tableHeader .row > div {
    background-color: var(--primary-background);
    color: var(--primary-text-color);
    font-weight: bold;
}

/* Table body specific styling */
#tableBody .row > div p {
    background-color: inherit;
    color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableBody .row div:hover, #tableBody .row div:focus {
    background-color: var(--primary-btn-hover);
}

@media screen and (max-width: 900px) {
    #mainWrapper {
        padding: 20px;
        gap: 80px;
        display: flex;
        flex-direction: column;
    }
    #personalInformationWrapper, #contactAndAddressWrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}