main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
}

.welcome {
  background: url('../assets/Crypto login background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
    font-size: 45px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8px;

}

