body {
    background-image: url("/QuickBank/src/assets/Crypto\ login\ background.jpg");
    padding: 0px 300px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#leftDiv {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

#leftDiv > h1 {
    font-size: 80px;
}

#rightDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    align-items: center;
}

#rightDiv > h1 {
    font-size: 50px;
    color: white;
}

#form {
    width: calc(70% - 60px);
}

#form > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
}

#button {
    margin: 6px 0px 0px 0px;
}