main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#leftDiv {
    background-image: url("/QuickBank/src/assets/Crypto\ login\ background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#rightDiv {
    padding: 50px 200px;
    width: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#form {
    border: 2px solid #D9D9D9;
    width: calc(100% - 60px);
}

#form > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
}

#button {
    margin: 6px 0px 0px 0px;
}

@media screen and (max-width: 900px) {
    #leftDiv {
        display: none;
    }
    main {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    #rightDiv {
        padding: 20px 50px;
        width: calc(100% - 100px);
    }

    #form {
        padding: 10px;
        width: calc(100% - 20px);
    }
}